aside {
    grid-area: sd;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

aside li {
    display: block;
    list-style: none outside;
    border: 1px solid #d50;
    margin-bottom: 1.5rem;
}

/* aside li:last-child { */
    /* margin-bottom: 5rem; */
/* } */

aside li a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    color: #d50;
}

aside li a:hover{
    background: #d50;
    color: #fff;
}

aside h4 {
    margin-bottom: 0.5rem;
    /* height: auto; */
}

.aside-pics img {
    width: 100%;
    height: auto;
}

.aside-pics h4 {
	margin-top: 2rem;
}

/* В gallery-red.html линковете към видеата за гроздето са в aside-links, затова са тези настройки  */
.aside-links img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}


@media (max-width: 800px) {

    aside {
        padding: 2rem;
    }
}
