/* @import url('age-check.css'); */
@import url('images.css');
@import url('basic.css');
@import url('logo.css');
@import url('header.css');
@import url('navigation.css');
@import url('main.css');
@import url('aside.css');
@import url('footer.css');
@import url('style.css');


body {
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
	'hd hd'
	'nav nav'
	'mn sd'
	'ft ft';
}

.back {
    display: flex;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    opacity: 1;
    border: none;
    box-shadow: none;
}

.back:hover {
    border: none;
    box-shadow: none;
}

main p {
    text-align: center;
    margin-bottom: 1rem;
}

aside {
    padding: 0.5rem;
    margin: 0;
}

aside ul, aside li, aside a {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
    box-shadow: none;
}

aside li:last-child {
    margin: 0;
}

aside .aside-archive a img {
    width: 100%;
    height: 40vh;
    margin: 0;
    border: none;
    box-shadow: none;
}

/* За blog.html  */
.blog {
    font-family: Indie Flower;
    font-size: 2em;
    text-align: center;
    padding: 1rem;
    margin: 0.75rem;
}
    
article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    box-shadow:  0 0 0.5rem 0 #d76;
    opacity: 0.9;
    padding: 0.5rem;
}

article:hover {
    border: 2px solid purple;
    box-shadow:  0 0 1rem 0 #d50;
    opacity: 1;
}

article > header {
    position: relative;
    overflow: hidden;
    border: 1px solid #d50;
    border-radius: 1rem;
    box-shadow:  0 0 1rem 0 #d76;
    margin-bottom: 1rem;
}

article > header:before {
    padding-top: 56.25%;
    content: "";
    display: block;
}

article > header img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    border: none; 
    box-shadow: none;
}

article > header img:hover {
    border: none; 
    box-shadow: none;
}

article > main {
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 0.1rem;
    background: #d50;
}

article > h2 {
    text-align: center;
}

article > footer {
    display: flex;
    padding: 1rem;
    margin-top: 0.2rem;
    justify-content: left;
    align-content: center;
    border: 1px solid #d76;
    border-radius: 0.1rem;
}

article > footer h5 {
    padding: 0.5rem 1rem;
    background: #fff;
    border: 5px solid #d50;
    
}

@media (max-width: 800px) {
	body {
		grid-template-columns: 1fr;
		grid-template-areas:
		'hd'
		'nav'
		'mn'
		'sd'
		'ft';
	}
        
    article > main {
		padding: 0.3rem;
    }

    .blog-articles a {
        width: 95%;
        padding: 0.3rem;
        margin: 0.5rem auto;
    }
}
    /* Край на blog.html */