footer {
    /* display: flex;
    flex-direction: column; */
    grid-area: ft;
    background: white;
    padding: 1rem;
}

footer a {
    color: #d50;
    text-decoration: none;
}

@media (max-width: 800px) {

    /* footer:before {
        display: block;
        content: '';
        margin: 0 auto;
        padding: 0;
        background: #000;
        width: 100%;
        height: 1px;
        border: 1px solid #d50;
    } */
}