footer {
    grid-area: ft;
    /* display: flex; */
}

footer a {
    color: #d50;
}

@media (max-width: 800px) {

    footer:before {
        display: block;
        content: '';
        margin: 0.5rem auto;
        padding: 0.05rem;
        background: #000;
        width: 100%;
        height: 1px;
        border: 1px solid #d50;
    }
}