@import url('logo.css');
@import url('header.css');
@import url('navigation.css');
@import url('footer.css');
@import url('basic.css');


body {
margin: 0 auto;
padding: 1rem;
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
'hd'
'nav'
'mn'
'ft'
;
grid-gap: 1rem;
background: #d50;
}

header h2, header h3 {
    margin: 0.5rem;
}

form {
    padding: 0.3rem;
}

fieldset {
    padding: 0.5rem;
}
.nav {
    grid-area: nav;
}

main {
    grid-area: mn;
    background: #fff;
}

footer {
    grid-area: ft;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
}

select {
    width: 30%;
}

input {
    margin: 0.2rem 0;
	padding: 0.5rem;
	
}

.input-button {
    margin: 1rem auto;
    border: 1px solid #999;
    opacity: 0.9;
    padding: 0.5rem;
}

.input-button:hover {
    border: 1px solid purple;
    opacity: 1;
}

main > div {
	/* width: 90%; */
	padding: 1rem;
	background: #ccc;
	margin: 0 auto;
}


/* 
textarea {
    width: 80%;
} */

