header {
    grid-area: hd;
	display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
	border-radius: 20%;
    
}

header h1, header h2, header h3, header h4 {
    text-align: center;
}
