main {
    grid-area: mn;
    padding: 0.5rem;
}

main h3 {
    clear: both;
    text-align: center;
    padding: 1rem;
}

main h3:after {
    display: block;
    content: '';
    margin: 0.2rem auto;
    padding: 0.05rem;
    background: #000;
    width: 8rem;
    height: 1px;
    border: 1px solid #d50;
}

main p:last-child {
    margin-top: 2rem;
}

main:after {
    clear: both;
    display: block;
    content: '';
    margin: 0.5rem auto;
    padding: 0.05rem;
    background: #000;
    width: 100%;
    height: 1px;
    border: 1px solid #d50;
}
