@import url('age-check.css');
@import url('images.css');
@import url('basic.css');
@import url('logo.css');
@import url('header.css');
@import url('navigation.css');
@import url('main.css');
@import url('aside.css');
@import url('footer.css');


/* //за бекграунда - може да го махна */
.back {
    /* display: none; */
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    opacity: 1;
    border: none;
    box-shadow: none;
}

.back:hover {
    border: none;
    box-shadow: none;
}

blockquote {
    font-style: italic;
	margin: 0.5rem auto;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    opacity: 0.8;
    border: 2px dotted purple;
    border-radius: 30%;
	/* clear: both; */
	/* margin: 3rem auto; */
}

blockquote p:last-child {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    padding-top: 0;
    margin-right: 1.5rem;
    margin-top: 0;
}

blockquote p:last-child:before {
    display: inline;
    content: '\2014';
    padding-right: 1rem;
}

/* .wine-images {
    background: #fff;
    width: 100%;
} */
